body {
    display:flex;
    flex-direction: row;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

@font-face {
    font-family: Norse-bold;
    src: url(../fonts/Norse-Bold.otf);
}

#image-container {
    width: 30rem;
    height: 55rem;
    overflow: hidden;
    position: relative;
}

.forest-image {
    width: 100rem;
    object-fit: cover;
}


.image-logo {
    font-family: Norse-bold;
    width: 300rem;
    font-size: 85px;
    position: absolute;
    top: 25%;
    padding: 3% 0% 3% 16%; 
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
}

.odin-logo {
    width: 5rem;
}

.image-credit {
    font-size: 0.8rem;
    position: absolute;
    bottom: 1%;
    left: 30%;
    color: white;
}
#photographer, #website {
    color: white;
}

