body {
    display:flex;
    flex-direction: row;
}

#image-container {
    width: 30rem;
    height: 55rem;
    overflow: hidden;
    position: relative;
}

img {
    width: 100rem;
    object-fit: cover;
}


.image-logo {
    width: 300rem;
    font-size: 55px;
    position: absolute;
    top: 25%;
    padding-left: 15%;
    color: white;
    background-color: rgba(0, 0, 0, 0.5);
}

.image-credit {
    position: absolute;
    bottom: 1%;
    left: 30%;
    color: white;
}
#photographer, #website {
    color: white;
}

